.events {
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    .events {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .events {
        /* 60px is the .timeline element width */
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}
