.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}

.cd-main-header::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-main-header__logo {
    float: left;
    margin: 4px 0 0 5%;
    /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.cd-main-header__logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
