.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}

.cd-main-header::after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}
